table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0 !important;
}

th,td {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

thead tr {
	background-color: #fc0;
}

th.sorted {
	background-color: orange;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

th.sortable a {
	background: url(../img/arrow_off.png) center right no-repeat;
}

th.order1 a {
	background: url(../img/arrow_down.png) center right no-repeat;
}

th.order2 a {
	background: url(../img/arrow_up.png) center right rano-repeat;
}

/* tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: #fea
} */
div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background: url(../img/ico_file_excel.png) center left no-repeat;
}

span.csv {
	background: url(../img/ico_file_csv.png) center left no-repeat;
}

span.xml {
	background: url(../img/ico_file_xml.png) center left no-repeat;
}

span.pdf {
	background: url(../img/ico_file_pdf.png) center left no-repeat;
}

span.rtf {
	background: url(../img/ico_file_rtf.png) center left no-repeat;
}

span.pagebanner {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	-moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
	display: block;
}

span.pagelinks {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	-moz-box-shadow: 0 0 3px 1px #AAAAAA;
	-webkit-box-shadow: 0 0 3px 1px #AAAAAA;
	box-shadow: 0 0 3px 1px #AAAAAA;
	background-color: #EFEFEF;
	display: block;
}

.pageLinks a,
.pageLinks .currentPageStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pageLinks a:hover, .pageLinks a:focus,
.pageLinks .currentPageStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pageLinks a:hover, .no-borderradius .pageLinks a:focus,
.no-borderradius .pageLinks .currentPageStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.group-1 {
	font-weight: bold;
	padding-bottom: 10px;
	border-top: 1px solid black;
}

.group-2 {
	font-style: italic;
	border-top: 1px solid black;
}

.subtotal-sum,.grandtotal-sum {
	font-weight: bold;
	text-align: right;
}

.subtotal-header {
	padding-bottom: 0px;
	border-top: 1px solid white;
}

.subtotal-label,.grandtotal-label {
	border-top: 1px solid white;
	font-weight: bold;
}

.grouped-table tr.even {
	background-color: #fff;
}

.grouped-table tr.odd {
	background-color: #fff;
}

.grandtotal-row {
	border-top: 2px solid black;
}