#feedback { font-size: 1.4em; }
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.selectable li { list-style-type: none; padding: 0.4em; height: 10px; float:left;}